<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>QuestMeeting</title>
    <meta content="タイトル" name="title">
    <meta content="ディスクリプション" name="description">
    <meta content="キーワード" name="keywords">
    <link rel="icon" href="./img/favicon.jpg">
    <link href="./css/destyle.css" rel="stylesheet">
    <link href="./css/modal.css" rel="stylesheet">
    <link href="./css/modal2.css" rel="stylesheet">
    <link href="./css/common.css" rel="stylesheet">
    <link href="./css/parts.css" rel="stylesheet">
    <link href="./css/guage.css" rel="stylesheet">
    <link href="./css/question_info.css" rel="stylesheet">
    <!-- <link href="./css/student.css" rel="stylesheet"> -->
    <link href="./css/s_sikentyuu.css" rel="stylesheet">
    <link href="./css/s_kaitoutyuu.css" rel="stylesheet">
    <link href="./css/s_sikennkekkakakuninn.css" rel="stylesheet">
    <link href="./css/s_kaisetutyuu.css" rel="stylesheet">
    <link href="./css/mondaiwomiru.css" rel="stylesheet">
    <link href="./css/result_table.css" rel="stylesheet">
    <link href="./css/izawa_add.css" rel="stylesheet">
    <link href="./css/t_sikennsyuuuryou.css" rel="stylesheet">
    <!-- フォントの初期設定 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=New+Tegomin&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        html {
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: 700;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/03ebcee952.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <header id="header_s">
        <div class="color_blue h_title">モロコシクエスト</div>
        <div class="user_head">
            <div class="img_avatar"><img src="./img/sample.png" alt=""></div>
            <p class="color_blue name_p"><%= userName %></p>
            <p class="color_blue lv_p">Lv.<%= lv %></p>
        </div>
    </header>
    <main>
        <div id="wait_wrap">
            <button id="wait">
                <img src="./img/ちょっと待て！.svg" alt="stop_btn" width="500" height="460">
                <p>ちょっと待った！</p>
            </button>
        </div>

        <!-- 問題回答モーダル -->
        <div class="modal_wrapper" id="modal1">
            <div class="modal_contents">
                <!-- <div class="modal_close">
                    <i class="fas fa-times-circle"></i>
                </div> -->
                <div id="display_animation"><img src="./img/考え中1.png" alt=""></div>
                <div class="modal_main_contents color_brown">
                    <div id="left_side">
                        <div id="question_list">
                            <!-- ここにタブを追加 -->
                        </div>
                        <div id="time_area">
                            <p id="remind">残り</p>
                            <p id="time">00:00</p>
                        </div>
                    </div>

                    <div id="right_side">
                        <div id="question_sentence">
                            <h2 class="color_brown">
                                <!-- ここに問題番号を追加 -->
                            </h2>
                        </div>
                        <p id="question_content"></p>
                        <form>
                            <div id="select_answer">
                                <!-- ここに選択肢を追加 -->
                            </div>
                        </form>
                        <div id="test_finish_btn" class="finish_not_allow">試験を終了する</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal_wrapper" id="modal2">
            <div class="modal_contents">
                <!-- <div class="modal_close">
                    <i class="fas fa-times-circle"></i>
                </div> -->
                <div class="modal_main_contents">

                    <div id="status1">
                        <p id="character"><img src="./img/level1.png" alt="キャラ画像" width="50" height="50"></p>
                        <p id="name" class="color_brown">
                            <%= userName %>
                        </p>
                        <div id="level_area">
                            <div id="guage_wrap">
                                <div id="guage">
                                    <div id="guage_solid_wrap">
                                        <div id="guage_solid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="level">
                                <p id="level_content">Lv.<span id="level_num">1</span></p></span><img id="level_up_img"
                                    src="./img/level_up.svg" alt=""></p>
                            </div>
                        </div>
                    </div>
                    <table id="result_table" class="color_brown">
                        <tr class="fixed">
                            <th class="color_brown">設問</th>
                            <th class="color_brown">採点</th>
                            <th class="color_brown">正解</th>
                            <th class="color_brown">あなたの回答</th>
                            <th class="color_brown">正答率</th>
                            <th></th>
                        </tr>
                    </table>
                    <button id="confirm" class="white_btn color_brown">確認OK</button>
                </div>
            </div>
        </div>
        <div class="modal_wrapper2" id="level_up">
            <div class="modal_contents2">
                <p id="evolution_p">アイコンが進化しました！</p>
                <div id="evolution">
                    <img src="./img/level1.png" alt="" class="icon">
                    <img src="./img/arrow.svg" alt="" class="arrow">
                    <img src="./img/level5.png" alt="" class="icon">
                </div>
            </div>
        </div>
        <!-- 問題をみるモーダル -->
        <!-- <div class="modal_wrapper" id="modal3">
            <div class="modal_contents">
                <div class="modal_close">
                    <i class="fas fa-times-circle"></i>
                </div>
                <div class="modal_main_contents color_brown">
                    <div id="question_check">
                        <div id="question_check_detail"></div>
                        <button id="close_btn" class="red_btn">閉じる</button>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="modal_wrapper" id="modal3">
            <div class="modal_contents">
                <!-- <div class="modal_close">
					<i class="fas fa-times-circle"></i>
				</div> -->
                <div class="modal_main_contents">
                    <div id="question_info_wrapper">
                        <table id="t_question_info">
                            <tr>
                                <th>分野</th>
                                <td><span id="qi_subject"></span><span id="qi_focus"></span></td>
                            </tr>
                            <tr>
                                <th>問題タイプ</th>
                                <td id="qi_method">４択問題</td>
                            </tr>
                            <tr>
                                <th>内容</th>
                                <td id="qi_question"></td>
                            </tr>
                        </table>
                        <div id="selection_answer">
                            <div class="selection_label red" for="s_26">
                                <div class="s_title">A</div>
                                <div class="content" id="qi_select_0"></div>
                            </div>
                            <div class="selection_label blue" for="s_27">
                                <div class="s_title">B</div>
                                <div class="content" id="qi_select_1"></div>
                            </div>
                            <div class="selection_label green" for="s_28">
                                <div class="s_title">C</div>
                                <div class="content" id="qi_select_2"></div>
                            </div>
                            <div class="selection_label yellow" for="s_29">
                                <div class="s_title">D</div>
                                <div class="content" id="qi_select_3"></div>
                            </div>
                        </div>
                        <p id="question_info_ans"><i class="fas fa-hand-point-right"></i>答え「<span
                                id="qi_ans_symbol"></span>：<span id="qi_ans"></span>」</p>
                        <div id="question_info_comment">
                        </div>
                    </div>
                    <button class="red_btn color_white" id="question_info_close"><i
                            class="fas fa-times-circle"></i><span>閉じる</span></button>
                </div>
            </div>
        </div>
        </div>

        <!-- 解説 -->
        <div class="modal_wrapper" style="display:flex" id="modal9">
            <div class="modal_contents">
                <div class="modal_main_contents" id="share_comment">
                    <p class="brown_btn color_brown" id="finish">試験終了</p>
                    <h2 id="explain" class="color_brown s_title">問<span class="ques_number"></span>の解説を表示しています。</h2>
                    <div id="t_answer">
                        <p id="result" class="color_brown">問<span class="ques_number"></span>の答えは・・・<span id="answer_number"></span></p>
                        <p id="explanation_img" class="color_brown"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        const loginId = '<%= loginId %>';
        const userName = '<%= userName %>';
        const lv = '<%= lv %>';
    </script>
    <script src="./js/s_master.js"></script>
    <!-- soundEfect -->
    <audio id="time_5" src="./se/time_5.mp3" type="audio/mp3"></audio>
    <audio id="time_4" src="./se/time_4.mp3" type="audio/mp3"></audio>
    <audio id="time_3" src="./se/time_3.mp3" type="audio/mp3"></audio>
    <audio id="time_2" src="./se/time_2.mp3" type="audio/mp3"></audio>
    <audio id="time_1" src="./se/time_1.mp3" type="audio/mp3"></audio>
    <audio id="time_end" src="./se/time_end.mp3" type="audio/mp3"></audio>
    <audio id="time_start" src="./se/time_start.mp3" type="audio/mp3"></audio>
    <audio id="rate_100" src="./se/rate_100.mp3" type="audio/mp3"></audio>
    <audio id="rate_min1" src="./se/rate_min1.mp3" type="audio/mp3"></audio>
    <audio id="rate_50" src="./se/rate_50.mp3" type="audio/mp3"></audio>
    <audio id="rate_20" src="./se/rate_20.mp3" type="audio/mp3"></audio>
    <audio id="rate_0" src="./se/rate_0.mp3" type="audio/mp3"></audio>
    <audio id="testStartBackSound" src="./se/testStartBackSound.mp3" type="audio/mp3"></audio>
    <audio id="resultBackSound" src="./se/resultBackSound.mp3" type="audio/mp3"></audio>
    <audio id="btnClick" src="./se/btnClick.mp3" type="audio/mp3"></audio>
    <audio id="tabOn" src="./se/tabOn.mp3" type="audio/mp3"></audio>
    <audio id="tabOff" src="./se/tabOff.mp3" type="audio/mp3"></audio>
    <audio id="loginBackSound" src="./se/loginBackSound.mp3" type="audio/mp3"></audio>
    <audio id="wait-music" src="./se/wait.mp3" type="audio/mp3"></audio>
    <!-- <script src="./js/test.js"></script> -->
</body>
<audio src="./img/level_up.mp3" id="audio_level_up"></audio>

</html>